* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.left-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
    float: left;
}

.wrapper {
    width: 65%;
    max-height: 100%;
}

.wrapper-downloads {
    width: 50%
}

.right-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c62146;
    width: 50vw;
    height: 100vh;
    float: right;
}

img.logo {
    margin-bottom: 3vh;
}

img.iphone {
    height: 100vh;
}

.ios {
    margin-right: 0.3vw;
}

.android {
    margin-left: 0.3vw;
}

.download-btn {
    cursor: pointer;
    width: 30%;
}

p {
    font-family:Tahoma, sans-serif;
    font-size: 1vw;
    margin-bottom: 3vh;
}

p.bottom-text {
    color: #00000054;
    margin-top: 5vh;
    font-size: 0.75vw;
}

h1 {
    font-family: Tahoma, sans-serif;
    font-size: 2vw;
    margin-bottom: 2vh;
}